<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Groupie Tracker</title>
    <link rel="icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
</head>

<body>
    <div class="menu">
        <div class="logo">
            <h1>GT & Co</h1>
        </div>
        <div class="nav">
            <h1 class="artist"><a href="/artistpage">Artistes</a></h1>
            <h1 class="contact"><a href="/contact">Contact</a></h1>
        </div>
    </div>
    <div class="corps">
        <div id="bloc">
            <div class="text">
                <h1 class="titre">Bienvenue sur GT&Co</h1>
                <h2 class="sous-titre">Cliquer sur le bouton pour découvrir les artistes</h2>
            </div>
            <div class="bouton">
                <a href="/artistpage">
                    <button class="discoverbutton"><span>Découvrir</span></button>
                </a>
            </div>
        </div>
        <div class="presentation">
            <h1>Présentation du projet</h1>
            <div class="presentationtext">
                <div class="imgcontainer">
                    <img src="./static/img/accueilimg.jpg" class="image">
                    <div class="overlay">
                        <div class="imgtext">L'objectif principal du projet est de récupérer des informations sur des artistes au sein d'une API et de les afficher visuellement sur un site internet. A cela vient s'ajouter divers objectifs optionnels comme l'ajout d'une barre
                            de recherche, d'un système de filtres ou encore d'une carte Google Maps.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>