<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Groupie Tester</title>
    <link rel="icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="/static/test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="navcontainer nav-container">
                <input class="checkbox" type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <div class="logo">
                    <h1><a href="/home.html">GT & Co</a></h1>
                </div>
                <div class="menu-items">
                    <li><a href="/home.html">Accueil</a></li>
                    <li><a href="/artistpage">Page artiste</a></li>
                </div>
            </div>
        </div>
    </nav>
    <div class="grid">
        <div class="card">
            <div class="cardimg1">
                <!-- <img src="./static/img/Amaury.jpg" alt="Amaury" style="width:100%"> -->
            </div>
            <div class="contenu">
                <h1>Amaury</h1>
                <p class="title">Développeur</p>
                <p>Lyon Ynov Campus</p>
            </div>
            <div class="rs">
                <a href="https://www.linkedin.com/in/amaury-lyonnet-372673206/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="mail">amaury.lyonnet13@gmail.com</div>
            <!-- <p><button>Contact</button></p> -->
        </div>
        <div class="card">
            <div class="cardimg2">
                <!-- <img src="./static/img/alessa2.jpg" alt="Alessandro" style="width:100%"> -->
            </div>
            <div class="contenu">
                <h1>Alessandro</h1>
                <p class="title">Développeur</p>
                <p>Lyon Ynov Campus</p>
            </div>
            <div class="rs">
                <a href="https://www.linkedin.com/in/alessandro-dell%E2%80%99oso-98229a22b/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="mail">dellosoalessandro@gmail.com</div>
            <!-- <h1>Alessandro</h1>
            <p class="title">Développeur</p>
            <p>Lyon Ynov Campus</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p> -->
        </div>
        <div class="card">
            <div class="cardimg3">
                <!-- <img src="" alt="Lucas" style="width:100%"> -->
            </div>
            <div class="contenu">
                <h1>Lucas</h1>
                <p class="title">Développeur</p>
                <p>Lyon Ynov Campus</p>
            </div>
            <div class="rs">
                <a href="https://www.linkedin.com/in/lucas-hospice-77865a22a/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="mail">hospice.lucas38@gmail.com</div>
            <!-- <h1>Lucas</h1>
            <p class="title">Développeur</p>
            <p>Lyon Ynov Campus</p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p> -->
        </div>
    </div>
</body>